
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f2f5f9;
}

header{
    background:#0056b3;
    color:white;
    text-align:center;
    padding:20px;
}

.container{
    width:90%;
    margin:40px auto;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.box{
    background:white;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
    padding:40px;
    text-align:center;
    transition:.3s;
}

.box:hover{
    transform:translateY(-8px);
}

.box a{
    text-decoration:none;
    color:#0056b3;
    font-size:25px;
    font-weight:bold;
}

.box p{
    margin-top:15px;
    color:#666;
}

footer{
    background:#003366;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:50px;
}
